<style>
  :host {
    max-width: 1024px;
    margin: 54px auto 0 auto;
    display: block;
  }
  .loading {
    height: calc(100vh - 48px);
    width: 100%;
    position: fixed;
    top: 48px;
    left: 0;
    background: #eee;
    text-align: center;
    color: #999;
    padding-top: 50vh;
    margin: 0;
    max-width: none;
  }
  .icon {
    display: inline-block;
    height: 18px;
    width: 18px;
    padding-right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z'/%3E%3C/svg%3E");
  }
  .name {
    display: inline-block;
  }
  .back {
    text-decoration: none;
    color: inherit;
    display: block;
    background: rgba(0,0,0,.05);
    padding: 5px 10px;
    border-radius: 3px;
    width: max-content;
  }
</style>
<section id="section">
</section>
