<style>
  :host {
    margin: 16px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    display: block;
  }
  a {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: inherit;
    display: block;
  }
  article {
    margin: 16px;
  }
  #title {
    margin: 0 0 4px 0;
  }
  #thumbnail {
    border: 1px solid rgba(0,0,0,.15);
    background-position: 50% 50%;
    background-origin: border-box;
    background-size: cover;
    background-color: #f0f0f0;
    height: 172px;
  }
  .meta {
    display: flex;
    color: #636363;
    font-size: 13px;
    margin-bottom: 8px;
  }
  #author {
    flex: 1;
  }
  #description {
    text-align: justify;
  }
</style>
<a id="url">
  <div id="thumbnail"></div>
  <article>
    <h3 id="title">
    </h3>
    <div class="meta">
      <div id="author"></div>
      <div id="pub-date"></div>
    </div>
    <div id="description"></div>
  </article>
</a>
